@import url("https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:400,700,900&display=swap");
@mixin flexbox($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin penWidth($width, $height) {
  width: $width;
  height: $height;
}

@mixin iconPosition($top, $left) {
  top: $top;
  left: $left;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
  }
}


