@import '../../styles/index';

.frames {
    width: 8%;
    overflow-x: hidden;
    height: 46vw;
    overflow-y: scroll;
    margin: 0.5% 0.4% 0 0;
    &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 6px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background-color: #999;
        cursor: pointer;
    }
    &::-webkit-scrollbar-track {
        background-color: rgba(50, 50, 50, 0.4);
    }
    .frame {
        width: 95%;
        box-sizing: border-box;
        height: 7.154vw;
        margin: 0 0 4% 0;
        box-sizing: border-box;
        border: 3px solid #444444;
        position: relative;
        background-image: url(../../assets/transparent_back_lowOpacity.png);
        background-size: 670%;
        background-position: center;
        border-radius: 0.3vw;
        overflow: hidden;
        &:hover {
            cursor: pointer;
            border: 3px solid lighten(#444444, 30%);
        }
        .iconNum {
            display: flex;
            padding: 7% 0;
            width: 30%;
            line-height: 100%;
            position: absolute;
            text-align: center;
            background: lighten(#8E7A0E, 30%);
            border-bottom-right-radius: 10%;
            i {
                width: 100%;
                font-style: normal;
                vertical-align: center;
                font-size: 1.3vw;
                color: #000000;
            }
        }
        .iconDel {
            @extend .iconNum;
            display: none;
            @include iconPosition (0%, 70.5%);
            padding: 5.5% 0;
            background: rgba(105, 105, 105, 0.781);
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 10%;
            i {
                color: #ffffff;
            }
            // doesnt work because frames oferflow is hidden
            // &:hover::after {
            //     display: block;
            //     padding: 20% 0%;
            //     text-align: center;
            //     content: attr(data-info);
            //     position: absolute;
            //     width: 320%;
            //     z-index: 5;
            //     top: 8%;
            //     left: 130%;
            //     font-size: 0.8vw;
            //     color: #ffffff;
            //     background-color: #000000cc;
            //     border-radius: 0.2vw;
            // }
        }
        .iconCopy{
            @extend .iconDel;
            @include iconPosition (71.5%, 70.5%);
            border-bottom-left-radius: 0%;
            border-top-left-radius: 10%;
        }
        .iconMove{
            @extend .iconDel;
            @include iconPosition (71.5%, 0%);
            border-bottom-left-radius: 0;
            border-top-right-radius: 10%;  
        }
        &:hover .iconNum {
            display: flex;
        }
    }
    button {
        @include flexbox(row, center, center);
        width: 95%;
        box-sizing: border-box;
        border: 3px solid #444444;
        border-radius: 0.3vw;
        background: none;
        padding: 4% 0;
        margin: 0 0 2% 0;
        i {
            padding: 0 0 0 10%;
            color: #ffffff;
            font-size: 1.3vw;
            text-align: right;
        }
        span {
            text-align: left;
            padding: 0 0 0 8%;
            color: #888888;
            font-size: 1vw;
        }
        &:hover {
            border: 3px solid lighten(#8E7A0E, 30%);
        }
    }
}