@import '../../styles/index';

.header {
    @include flexbox(row, flex-start, center);
    width: 100%;
    background-color: #2D2D2D;
    position: relative;
    z-index: 2;
    
    a {
        color: #ffffff;
        margin: 0 39% 0 2%;
        font-size: 2vw;
        font-weight: 900;
    }
    h2 {
        color: #888888;
        white-space: nowrap;
        font-weight: 400;
        font-size: 2vw;
        margin: 0 28.2% 0 0;
    }
    div {
        @include flexbox(row, flex-start, center);

        button {
            white-space: nowrap;
            padding: 0.3vw 0.7vw;
            color: #000000;
            font-size: 1vw;
            font-weight: 700;
            background-color: #FFD700;
            border-radius: 0.2vw;
            transition: 0.2s background-color ease-in-out;
            &:hover {
                cursor: pointer;
                background-color: lighten(#FFD700, $hoverLighthen);
                transition: 0.2s background-color ease-in-out;
            }
        }

        button:first-child {
            margin: 0 0.3vw 0 0;
        }

    }


}